
* {
    font-size: 20px;
    font-family: "Hack";
    background-image: none;
}

window {
    background-color: transparent;
}

button {
    background-color: rgba(30, 30, 30, 0.8);
    outline-style: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    border-radius: 1px;
    animation: gradient_f 20s ease-in infinite;
    margin: 5px;

}

button:hover,
button:focus {
    background-color: rgba(250, 250, 250, 0.1);
    background-size: 20%;
}


label {
    color: rgba(215, 215, 215, 1.0);
    font-weight: bold;
    text-shadow: none;
}

#lock {
    background-image: url("/usr/share/wlogout/assets/lock.svg");
}

#hibernate {
    background-image: url("/usr/share/wlogout/assets/hibernate.svg");
}

#logout {
    background-image: url("/usr/share/wlogout/assets/logout.svg");
}

#shutdown {
    background-image: url("/usr/share/wlogout/assets/shutdown.svg");
}

#suspend {
    background-image: url("/usr/share/wlogout/assets/suspend.svg");
}

#reboot {
    background-image: url("/usr/share/wlogout/assets/reboot.svg");
}
