[user]
	email = rasmus105@protonmail.com
	name = rasmus105
	signingkey = E234E0B0700BD293

[diff]
    external = difft

; [merge]
;     conflictstyle = vimdiff

; [mergetool]
;   prompt = false
;   keepBackup = false

; [mergetool "vimdiff"]
;   layout = "LOCAL,BASE,REMOTE / MERGED"
