[user]
	email = rasmus105@protonmail.com
	name = rasmus105
	signingkey = E234E0B0700BD293

[diff]
    external = difft

; [merge]
;     conflictstyle = vimdiff

; [mergetool]
;   prompt = false
;   keepBackup = false

; [mergetool "vimdiff"]
;   layout = "LOCAL,BASE,REMOTE / MERGED"
[alias]
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
