@define-color foreground #eff0f1;
@define-color foreground-inactive #7f8c8d;
@define-color background #232629;
@define-color background-alt #31363b;

* {
    font-family: Hack;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0px;
    color: @foreground-inactive;
    background-color: @background-alt;
}

#workspaces button.empty {
}

#workspaces button.active {
    background-color: @background-alt;
    color: @foreground; 
    border-radius: 0px;
}

#wireplumber,
#bat,
#tray,
#cpu,
#memory,
#disk,
#net {
    background-color: @background-alt;
    border-radius: 2px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.3em;
}

#battery,
#language,
#network {
    margin-right: 0.8em;
}
