* {
	font-size: 20px;
	font-family: monospace;
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#network,
#language,
#backlight,
#tray {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 8px;
	color: #fdf6e3;
}
#workspaces button.active {
    color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#battery {
	/* color: #289828; */
	color: #A7C080;
}
#memory {
	/* color: #F9D923; */
	color: #DBBC7F;
}
#cpu {
	/* color: #F9D923; */
	color: #DBBC7F;
}
#disk {
	/* color: #F9D923; */
	color: #DBBC7F;
}
#pulseaudio {
	color: #E69875;
}
#network {
    color: #7FBBB3;
}

#language {
    color: #82A598;
}

#backlight {
    color: #FABD2F;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#network,
#language,
#backlight
#disk {
	padding: 0 10px;
}
