/* this file should be in ~/.config/swayosd/style.css */
@import "../theme/swayosd.css";

window {
    border-radius: 0;
    opacity: 0.85;
    border: 2px solid @border-color;
    background-color: @background-color;
}

label {
    font-family: "Hack Nerd Font";
    font-size: 12pt;
    color: @label;
}

image {
    color: @image;
}

progressbar {
    border-radius: 0;
}

progress {
    background-color: @progress;
}
